<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=M+PLUS+Rounded+1c&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="armenia.css">
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <script src="https://unpkg.com/vue@3"></script>
    <title>shop(first lesson)</title>
</head>

<body>
    <div id="app">
        <div class="menu">
            <div class="header">
                <div class="big_time">
                <div class="timable">С 12:00 до 00:00</div>
                <div class="timable">Тел.:97-99-88</div>
            </div>
            <a href="home_page.html" class="logo">Главная</a>
            <a href="about.html" class="armen_home">«АРМЯНСКИЙ ДОМ»</a>
            <a href="#entrance" class="entrance popup-link">Вход</a>
        </div>
        <a href="#basket" class="basket_button popup-link">
            <img src="Images/basket_icon.png">
            Товаров:{{basket.length}}
        </a>
        <div id="basket" class="mfp-hide">
            <div class="basket">
                <div v-if="basket.length > 0">
                    <div v-for="item in basket" :key="item.name">
                        <div class="basket_block">
                            <img src="Images/шашлык.jpg" width="25%">
                            <div class="basket_block_name">{{item.name}}</div>
                            <div class="basket_cost">{{item.count}}x{{item.cost}}p</div>
                            <a href="#" @click="removeItem(item)" class="basket_image"><img src="Images/delete.png" width="10%"></a>
                        </div>
                    </div>
                    <div class="itogo">
                        <div class="itogo">Итого: {{totalPrice}} р</div>
                        <a href="step1.html" class="itogo_button">Оформить заказ</a>
                    </div>
                </div>
                <div v-else class="empty_cart">Вы пока ничего не доавили</div>
            </div>
        </div>

        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="Images/1.jpg" width="100%" class="slide_image">
                </div>
                
                <div class="mySlides fade">
                <img src="Images/2.jpeg" width="100%" class="slide_image">
                </div>
                
                <div class="mySlides fade">
                <img src="Images/3.jpeg" width="100%" class="slide_image">
                </div>
        
                <div class="slider_frame_left"></div>
                <div class="slider_frame_right"></div>
                <div class="slideflip_left">
                    <a class="prev" onclick="plusSlides(-1)"><div class="strelka"><img src="Images/left.png"></div></a></div>
                <div class="slideflip_right"><a class="next" onclick="plusSlides(1)"><div class="strelka"><img src="Images/right.png"></div></a></div>
                
                <div class="slideNav">
                <span class="dot2" onclick="currentSlide(1)"></span>
                <span class="dot2" onclick="currentSlide(2)"></span>
                <span class="dot2" onclick="currentSlide(3)"></span>
                </div>
            </div>

        <div v-for="item in showcase" :key="item.name" @submit.prevent="addItem" class="cell">
            <div class="cell_image popup-link"><img src="Images/шашлык.jpg"></div>
            <div class="cell_name">{{item.name}}</div>
            <div class="cell_choose" @click="addToBasket(item)">Выбрать</div>
            <div class="cell_cost">{{item.cost}}p</div>
        </div>
        <div id="entrance" class="mfp-hide">
            <div class="entrance_window">
                <img src="Images/entranse.png">
                <div class="entrance_title">Вход</div>
                <div class="phone_entrance">
                    <b>Телефон:</b>
                    <input type="text" class="phone">
                    </div>
               <a href="#entrance_code" class="code_button popup-link"><button type="submit" class="white_button">отправить код</button></a>
            </div>
        </div>
    </div>

    <script>
        const { createApp } = Vue
        let id = 0
        createApp({
            data() {
                return {
                    showcase: [
                        { id: id++, name: 'Шашлык из курицы на косточке', cost: 230 },
                        { id: id++, name: 'Шашлык из куринной печени в жировой сетке', cost: 140 },
                        { id: id++, name: 'Шашлык из говяжьей печени в жировой сетке', cost: 200 },
                        { id: id++, name: 'Шашлык из свинины на косточке', cost: 180 },
                        { id: id++, name: 'Шашлык из свинной печени в жировой сетке', cost: 250 },
                        { id: id++, name: 'Люля из говядины', cost: 300 }
                    ],
                    basket: []
                }
            },
            methods: {
                addToBasket(item) {
                    let { id, name, cost } = item
                    let ci = this.basket.filter(x => x.name == name)
                    if (this.basket.length > 0) {
                        if (ci.length > 0) {
                            this.basket.forEach(x => {
                                x.name == name ? x.count += 1 : 0
                            })
                        }
                        else { this.basket.push({ id, name, cost, count: 1 }); }
                    } else { this.basket.push({ id, name, cost, count: 1 }); }

                },
                removeItem(item) {
                    this.basket = this.basket.filter((t) => t !== item)
                },
            },
            computed: {
                totalPrice() {
                    let p = 0;
                    this.basket.map(x => p += Number(x.cost*x.count));
                    return p
                }
            }
        }).mount('#app')
    </script>

    <script src="jQuerry-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-link').magnificPopup();
            closeOnBgClick: true;
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.minus').click(function () {
                var $input = $(this).parent().find('input');
                var count = parseInt($input.val()) - 1;
                count = count < 1 ? 1 : count;
                $input.val(count);
                $input.change();
                return false;
            });
            $('.plus').click(function () {
                var $input = $(this).parent().find('input');
                $input.val(parseInt($input.val()) + 1);
                $input.change();
                return false;
            });
        });
    </script>
    <script>
        //slider
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");

        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex=slides.length
        }
        for (i=0; i < slides.length; i++){
        slides[i].style.display="none"; 

        }
        for (i = 0; i < dots.length; i++){
            dots[i].className = dots[i].className.replace("active","");

        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className+= "active";
        }
    </script>
    <script src="magnific-popup/magnific-popup.js"></script>
</body>

</html>